# Backend
hrms-backend/venv/
hrms-backend/__pycache__/
hrms-backend/*.db
hrms-backend/*.sqlite3

# Frontend
hrms-frontend/node_modules/
hrms-frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.*.local
